.Column {
  height: 40%;
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(37.5% / 6);
  overflow: hidden;
  flex-direction: column;
}

.top {
  top: 6.667%;
}

.bottom {
  bottom: 7.5%;
  flex-direction: column-reverse;
}
