:root {
  --chat-toggler-transition: 0.5s;
}

.chat_toggler {
  position: absolute;
  top: calc(50vh - 18px);
  left: 0vw;
  width: max-content;
  transition: var(--chat-toggler-transition);
}

.chat_toggler_opened {
  top: calc(50% - 18px);
  left: 100%;
  transition: var(--chat-toggler-transition);
}
.chat_icon {
  margin-right: 0.5em;
}
