.chat_toggler {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  transition: var(--chat-toggler-transition);
}

.chat_toggler_opened {
  left: 25%;
  width: 75%;
  transition: var(--chat-toggler-transition);
}
.chat_icon {
  margin-right: 0.5em;
}
